body{
    width:1920px;
    height:898px;
}

.Subscribe{
    width:1170.25px;
    height:416px;
    margin-top: 1%;
    margin-left: 150px;
    position: fixed;
}

main{
    position: fixed;
    margin-top: 28%;
    display: flex;
}
.left-content{
    margin-left: 7%;
}
.Trabook-image{
    margin-left: 5%;
}
.right-content{
    margin-left: 50%;
}

footer{
    margin-top: 40%;
    position: fixed;
    margin-left: 5%;
    display: flex;
    flex-direction: column;

}
@media (max-width: 768px) {
    .Subscribe {
        width: 100%;
        margin: 0;
        padding: 10px;
        height: auto;
    }

    main {
        flex-direction: column;
        margin-top: 40%;
    }

    footer {
        margin-top: 10%;
        padding: 10px;
        width: 100%;
    }
}



